pipeline/mpl_module6.json
{
	"name": "mpl_module6",
	"properties": {
		"activities": [
			{
				"name": "LookupLastWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT WatermarkValue FROM dbo.watermarktable WHERE TableName = 'Tickets'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CopyIncrementalTickets",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [dbo].[Tickets]\nWHERE TransactionDt > '@{activity('LookupLastWatermark').output.firstRow.WatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[cinema_tickets]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "movie_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ticket_count",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "transaction_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_module6_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_module6_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetMaxTransactionDt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('GetMaxTransactionDt').output.firstRow.MaxTransactionDt}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": "Tickets",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CinemaTicketsSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetMaxTransactionDt",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyIncrementalTickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(transaction_date) AS MaxTransactionDt FROM [stg].[cinema_tickets]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_module6_sink",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "RunPopulateCinema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinema]"
				},
				"linkedServiceName": {
					"referenceName": "MoviesAzSqlDatabaseLS2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "RunPopulateCinemaTickets",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunPopulateCinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinemaTickets]"
				},
				"linkedServiceName": {
					"referenceName": "MoviesAzSqlDatabaseLS2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-04-30T21:53:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}